{% extends 'base.html' %}

{% block title_block %}
    Change your Password
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Change your Password</h1>
            </div>
        </div>
    </section>

       <section class="section">
        <div class="columns is-one-quarter is-centered">
            <div class="column is-one-quarter">
                <div class="row">

                    <form method="post" action=".">
                        {% csrf_token %}

                        {{ form.as_p }}

                            <div class="field">
                                <p class="control required">
                                    <input class="input" type="submit" value="Change Password" />
                                </p>
                            </div>

                    </form>

                </div>
            </div>
        </div>
       </section>

    </div>

{% endblock %}