{% extends 'base.html' %}

{% block title_block %}
    Password Changed
{% endblock %}

{% block body_block %}
   <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Password Changed</h1>
            </div>
        </div>
    </section>

       <section class="section">
        <div class="columns is-one-quarter is-centered">
            <div class="column is-one-quarter">
                <div class="row">

                    <p>Your password has been successfully changed!</p>

                </div>
            </div>
        </div>
       </section>
        </div>

{% endblock %}