{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Demo Web Application Consuming HighQ APIs
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">HighQ System Admin Demo App</h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns is-one-quarter is-centered">
            <div class="column">
                <div class="row">
                    <p>
                        This simple web application is a demonstration of how to consume HighQ Collaborate's RESTful API.
                        It has been built using the Django framework, which is python-based and open-source.
                    </p>

                    <br/>

                    <p>
                        This app is a basic 'helpdesk' system for a support team divided into 1st and 2nd line workers. It is not desirable to expose the full system admin functionality of
                        Collaborate to the 1st line staff, but you want them be able to carry out low-level administrative tasks like re-sending site invites, checking on the
                        status and size of sites, reporting on when users were added to the system, etc, etc. For tasks which cannot be carried out with their level of access, they can create a helpdesk "ticket"
                        for the 2nd line team to pick up. The second line team can even 'push' the tickets into their collaborate instance's Tasks modules, meaning each team has a different means
                        of interacting with their instance, via the API.
                    </p>



                    <br/>

                    <p>
                        If, for whatever reason, you've found this and want to get in touch, I can be found at:
                        peter.simpson at highq dot com.
                    </p>

                    <br/>

                    <p>
                        If you wish to be added to our developer community, where you will find the API documentation,
                        please email support at highq dot com
                    </p>

                </div>
            </div>
        </div>
       </section>


     </div>
{% endblock %}