{% extends "base.html" %}
{% load perm_group_tags %}

{% block menu %}

    <div class="column is-2 ">
        <aside class="menu is-hidden-mobile">
            <p class="menu-label">
                Tasks
            </p>
            <ul class="menu-list">
                <li><a class="{% if menu == 'list' %} is-active{% endif %}" href="{% url "tasks:task_list" %}">Task List</a></li>
                {% if user|has_group:"First Line" %}
                    <li><a class="{% if menu == 'create' %} is-active{% endif %}" href="{% url "tasks:task_create" %}">Create New Task</a></li>
                {% elif user|has_group:"Second Line" %}
                    <li><a class="{% if menu == 'me' %} is-active{% endif %}" href="{% url "tasks:task_list_user" user.id %}">Assigned To Me</a></li>
                    <li><a class="{% if menu == 'unassigned' %} is-active{% endif %}" href="{% url "tasks:task_list_unassigned"  %}">Unassigned</a></li>
                {% endif %}
                <li><a class="{% if menu == 'complete' %} is-active{% endif %}" href="{% url "tasks:task_list_complete"  %}">Completed</a></li>
            </ul>
        </aside>
    </div>
{% endblock %}


