{% extends 'base.html' %}

{% block title_block %}
    Edit Your Profile
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Edit Your Profile</h1>
            </div>
        </div>
    </section>

       <section class="section">
        <div class="columns is-one-quarter is-centered">
            <div class="column is-one-quarter">
                <div class="row">

                    <form method="post" action="." enctype="multipart/form-data" >
                        {% csrf_token %}

                            <div class="field">

                                <div id="file-photo-input" class="file is-centered is-boxed has-name">
                                  <label class="file-label">
                                    <input class="file-input" type="file" name="photo" accept="image/*" id="id_photo" >
                                    <span class="file-cta">
                                      <span class="file-icon">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                      </span>
                                      <span class="file-label">
                                        Choose a Photo…
                                      </span>
                                    </span>
                                      <span class="file-name">
                                         {% if profile_form.initial.photo.name %}{{ profile_form.initial.photo.name }}{% else %}No File Selected{% endif %}
                                      </span>
                                  </label>
                                </div>
                            </div>

                            <div class="field">
                                <p class="control">
                                    <input type="email" name="contact_email" maxlength="254" id="id_contact_email" class="input form-control"
                                           {% if profile_form.initial.contact_email %}value="{{ profile_form.initial.contact_email }}"{% else %}placeholder="Contact Email"{% endif %}>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control">
                                    <input type="text" name="phone_number" class="input form-control" id="id_phone_number"
                                           {% if profile_form.initial.phone_number %}value="{{ profile_form.initial.phone_number }}"{% else %}value="+44..."{% endif %}>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control required">
                                    <button class="button is-primary is-pulled-right" type="submit" value="Submit">Update</button>
                                </p>
                            </div>

                    </form>

                </div>
            </div>
        </div>
       </section>

    </div>

    <script>
    // file input on edit profile
  const fileInput = document.querySelector('#file-photo-input input[type=file]');
  fileInput.onchange = () => {
      console.log('file detected')
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-photo-input .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>

{% endblock %}









