{% extends 'base.html' %}

{% block title_block %}
    {{ object.user.username }}Profile
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{% if object.user == request.user %}Your{% else %}{{object.user.first_name }} {{ object.user.last_name }}'s{% endif %} Profile</h1>
                {% if object.user == request.user %}<a href="{% url "profiles:edit_profile"%}"class="button is-primary is-outlined"><h2 class="subtitle">Edit</h2></a>{% endif %}
            </div>
        </div>
    </section>

    {% if messages %}
        {% include 'tasks/messages.html' %}
    {% endif %}

       <section class="section">
        <div class="columns is-one-quarter is-centered">
            <div class="column is-three-quarters">
                <div class="row">
                    <div class="card">
                        <header class="card-header">
                            <div class="card-header-title">
                                {{object.user.username}}<br>
                                {{ object.contact_email }}<br>
                                {{ object.phone_number|stringformat:"s" }}
                            </div>
                        <section class="section">
                            <div class="card-image">
                                <figure>
                                  {% load thumbnail %}
                                    {% thumbnail object.photo "150x150" as im %}
                                        <img src="{{im.url}}" alt="Asignee Profile Photo">
                                    {% endthumbnail %}
                                </figure>
                              </div>
                        </section>
                        </header>

                          <div class="card-content">
                            <div class="media">
                              <div class="media-content">
                                  <table class="table is-bordered">
                                  <thead>
                                    <tr>
                                        <th>
                                            {% if object.is_user_firstline %}
                                                <p class="title">Issues Raised:</p>
                                            {% elif object.is_user_secondline %}
                                                <p class="title">Issues Assigned:</p>
                                            {% endif %}
                                        </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% if object.is_user_firstline %}
                                        {% for task in object.get_posted %}
                                            <tr>
                                                <td colspan="2">
                                                    <p class="has-text-weight-bold"><a href="{% url "tasks:task_detail" task.id task.slug %}">{{task.subject}}</a>: </p>
                                                    <p>{{ task.body|striptags|slice:':60'}}... <span><a href="{% url "tasks:task_detail" task.id task.slug %}">read more</a></span></p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% elif object.is_user_secondline %}
                                        {% for task in object.get_assigned %}
                                            <tr>
                                                <td colspan="2">
                                                    <p class="has-text-weight-bold"><a href="{% url "tasks:task_detail" task.id task.slug %}">{{task.subject}}</a>: </p>
                                                    <p>{{ task.body|striptags|slice:':60'}}... <span><a href="{% url "tasks:task_detail" task.id task.slug %}">read more</a></span></p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                  </tbody>
                                </table>
                              </div>
                            </div>








                </div>
            </div>
        </div>
       </section>

    </div>

{% endblock %}