<section class="section is-small" id="messagesSection">
        {% for message in messages %}
            <article class="message {{ message.tags }}">
                <div class="message-header">
                    <p></p>
                    <button class="delete is-pulled-right" id="closeMessage" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    {{ message|safe }}
                </div>
            </article>
        {% endfor %}
</section>