{% extends 'task_base.html' %}
{% load static %}
{% load perm_group_tags %}

{% block title_block %}
    {{task.subject}}
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle"><a href="{% url "tasks:task_list" %}">Tasks...</a></h2>
                <h1 class="title">"{{ task.subject }}" Details</h1>
                {% if request.user|has_group:"Second Line" and not task.ispushed %}<a href="{% url "tasks:task_push" task.pk task.slug %}"class="button is-primary is-outlined"><h2 class="subtitle">Push Task To Collaborate</h2></a>{% endif %}
            </div>
        </div>
    </section>

    {% if messages %}
        {% include 'tasks/messages.html' %}
    {% endif %}

    <section class="section">
        <div class="columns is-half is-centered">
            <div class="column">

                <div class="card">
                  <div class="card-content">
                      <figure class="is-pulled-right">
                          {% load thumbnail %}
                              {% thumbnail task.poster.user_profile.photo "150x150" as im %}
                                <a href="{% url "profiles:profile_detail" task.poster.id %}">
                                    <img src="{{im.url}}" alt="User Profile Photo">
                                </a>
                              {% endthumbnail %}
                        </figure>
                    <p class="title">
                      {{task.subject}}
                    </p>
                    <p class="subtitle">
                      Raised by <a href="{% url "profiles:profile_detail" task.poster.id %}">{{ task.poster.first_name }} {{ task.poster.last_name }}</a>
                        on {{ task.created}}
                    </p>
                      <p class="is-small is-flex">
                          {{ task.body|safe }}
                      </p>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        Status: "{{task.get_status_display}}"
                      </span>
                    </p>
                    <p class="card-footer-item">
                        {% if task.asignee %}
                          <span>
                              Assigned to:
                                <a href="{% url "profiles:profile_detail" task.asignee.id %}">
                                    {% if task.asignee == request.user %}Me{% else %}{{ task.asignee.first_name }} {{ task.asignee.last_name }}{% endif %}
                                </a>
                          </span>
                                {% load thumbnail %}
                                {% thumbnail task.asignee.user_profile.photo "50x50" as im %}
                                    <a href="{% url "profiles:profile_detail" task.asignee.id %}">
                                        <img src="{{im.url}}" alt="Asignee Profile Photo">
                                    </a>
                                {% endthumbnail %}
                        {% else %}
                            <span>
                              Not yet Assigned
                            </span>
                        {% endif %}
                    </p>
                      <p class="card-footer-item">
                      <span>
                          {% if request.user|has_group:"Second Line" %}
                                <a href="{% url "tasks:task_edit" task.pk task.slug %}">Edit</a>
                          {% else %}
                              No Permission To Edit
                          {% endif %}
                      </span>
                    </p>
                  </footer>
                </div>

            </div>
        </div>
    </section>
    </div>
{% endblock %}