{% extends 'task_base.html' %}

{% load static %}

{% block title_block %}
    Latest Tasks
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Tasks...</h1>
            </div>
        </div>
    </section>

    {% if messages %}
        {% include 'tasks/messages.html' %}
    {% endif %}


    <section class="section">
        <div class="columns is-half is-centered">
            <div class="infinite-container column is-8 ">
                {% for task in task_list %}
                 <div class=" infinite-item tile is-ancestor">
                  <div class="tile is-vertical">
                    <div class="tile">
                      <div class="tile is-parent is-vertical">
                        <article class="tile is-child box">
                          <p class="title">{{task.subject}}</p>
                          <p class="subtitle">{{task.body|striptags|slice:':70'}}...</p>
                            <a href="{{ task.get_absolute_url }}">Read More...</a>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
                    </a>

                {% endif %}

                <div class="loading" style="display: none;">
                    <button class="button is-info is-disabled is-large is-fullwidth is-loading">Loading</button>
                </div>



            </div>



        </div>
    </section>
    </div>


{% endblock %}


