{% extends 'task_base.html' %}
{% load static %}

{% block title_block %}
    Push Task To Collaborate
{% endblock %}

{% block body_block %}
     <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle"><a href="{% url "tasks:task_list" %}">Tasks...</a></h2>
                <h2 class="title">Push Task To Collaborate</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns is-half is-centered">
            <div class="column is-8">
                 <div class="row">
                        <form id="pushToCol" role="form" method="post" action=".">
                            {% csrf_token %}


                            <div class="field">
                                <p class="control">
                                    <label for="id_site">Site:</label>
                                        <div class="select">
                                            <select name="site" id="id_site">
                                                 {% for value,label in form.fields.site.choices %}
                                                     <option value="{{value}}">{{label}}</option>
                                                 {% endfor %}
                                            </select>
                                        </div>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control">
                                    <label for="id_task_list">Task List:</label>
                                        <div class="select">
                                            <select name="task_list" id="id_task_list">
                                                 {% for value,label in form.fields.task_list.choices %}
                                                     <option value="{{value}}">{{label}}</option>
                                                 {% endfor %}
                                            </select>
                                        </div>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control">
                                    <button type="submit" class="button is-primary">Submit</button>
                                </p>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}

