{% extends 'task_base.html' %}
{% load static %}

{% block title_block %}
    Create Task
{% endblock %}

{% block body_block %}
     <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle"><a href="{% url "tasks:task_list" %}">Tasks...</a></h2>
                <h2 class="title">Create New Task</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns is-half is-centered">
            <div class="column is-8">
                 <div class="row">
                        <form role="form" method="post" action=".">
                            {% csrf_token %}
                            {{ form.media }}

                            {% for field in form.visible_fields %}
                                {%  if field.name == 'subject' %}
                                    <div class="field">
                                        <p class="control">
                                            <label for="{{field.id_for_label}}">{{field.label_tag}}</label>
                                                <input class="input" type="text" name="{{field.name}}" maxlength="250" required="" id="{{field.id_for_label}}">
                                        </p>
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}

                            <div class="field">
                                <p class="control">
                                    <button type="submit" class="button is-primary">Submit</button>
                                </p>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
    </div>
{% endblock %}

