{% extends 'task_base.html' %}
{% load static %}
{% load perm_group_tags %}

{% block title_block %}
    {{object.subject}}
{% endblock %}

{% block body_block %}
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle"><a href="{% url "tasks:task_list" %}">Tasks...</a></h2>
                <h1 class="title">"{{ object.subject }}" Details</h1>
                {% if request.user|has_group:"Second Line" and not object.ispushed %}<a href="{% url "tasks:task_push" object.pk object.slug %}"class="button is-primary is-outlined"><h2 class="subtitle">Push Task To Collaborate</h2></a>{% endif %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns is-half is-centered">
            <div class="column">

                <div class="card">
                  <div class="card-content">
                      <figure class="is-pulled-right">
                            {% load thumbnail %}
                            {% thumbnail object.get_poster_profile.photo "150x150" as im %}
                                <a href="{% url "profiles:profile_detail" object.poster.id %}">
                                    <img src="{{im.url}}" alt="User Profile Photo">
                                </a>
                            {% endthumbnail %}
                        </figure>
                    <p class="title">
                      {{object.subject}}
                    </p>
                    <p class="subtitle">
                      Raised by <a href="{% url "profiles:profile_detail" object.poster.id %}">{{ object.poster.first_name }} {{ object.poster.last_name }}</a>
                        on {{ object.created}}
                    </p>
                      <p class="is-small is-flex">
                          {{ object.body }}
                      </p>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        Status: "{{object.get_status_display}}"
                      </span>
                    </p>
                    <p class="card-footer-item">
                        {% if object.asignee %}
                          <span>
                              Assigned to:
                                <a href="{% url "profiles:profile_detail" object.asignee.id %}">
                                    {% if object.asignee == request.user %}Me{% else %}{{ object.asignee.first_name }} {{ object.asignee.last_name }}{% endif %}
                                </a>
                          </span>
                                {% load thumbnail %}
                                {% thumbnail object.get_asignee_profile.photo "50x50" as im %}
                                    <a href="{% url "profiles:profile_detail" object.asignee.id %}">
                                        <img src="{{im.url}}" alt="Asignee Profile Photo">
                                    </a>
                                {% endthumbnail %}
                        {% else %}
                            <span>
                              Not yet Assigned
                            </span>
                        {% endif %}
                    </p>
                      <p class="card-footer-item">
                      <span>
                          {% if request.user|has_group:"Second Line" %}
                                <a href="{% url "tasks:task_edit" object.pk object.slug %}">Edit</a>
                          {% else %}
                              No Permission To Edit
                          {% endif %}
                      </span>
                    </p>
                  </footer>
                </div>

            </div>
        </div>
    </section>
    </div>
{% endblock %}